// inspired by: https://codepen.io/soufiane-khalfaoui-hassani/pen/LYpPWda
.contact {
    position: relative;
    min-height: 100vh;

    &__title {
        padding: 100px 50px;
        width: 66.66vw;
        height: 240px;
        position: fixed;
        z-index: 99;
        top: 0;
        right: 0;
        font-size: 4vw;
        text-align: center;
        transform: translateX(100%);
        background-color: #111;
    }

    &__left {
        position: fixed;
        bottom: 0;
        left: 0;
        min-height: 100vh;
        width: 33.33vw;
        display: flex;
        align-items: center;
        transform: translateX(-100%);
        background-color: hsl(194, 13%, 10%);
        border-right: 1px solid #999;
        z-index: 99;
    }

    &__right {
        position: fixed;
        width: 66.66vw;
        height: calc(100vh - 240px);
        bottom: 0;
        right: 0;
        z-index: 99;
        display: flex;
        transform: translateX(100%);
        background-color: #111;
    }
}

.contact-informations {
    padding: 100px 50px;

    &__name {
        font-size: 40px;
        font-weight: bold;
        line-height: 120%;
        color: $text-color;
    }

    &__job {
        font-size: 25px;
        color: $text-color;
        margin: 30px 0;
    }

    &__sentence {
        margin: 40px 0;
        color: $text-color;
        line-height: 150%;
    }

    &__list {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__item {
        svg {
            fill: $cta-color;
        }

        a {
            display: inline-flex;
            align-items: center;
            padding: 8px 12px;
            border: 1px solid $cta-color;
            border-radius: 100px;
            box-shadow: rgba(162, 123, 92, 0.3) 0px 3px 5px, rgba(162, 123, 92, 0.22) 0px 12px 12px;
            text-decoration: none;
            color: $cta-color;
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.1);
            }
        }

        span {
            margin-left: 10px;
            font-size: 16px;
        }
    }
}

.contact-form-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact-form {
    width: 100%;
    max-width: 550px;
    position: relative;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-radius: 10px;
    transition: 0.5s;
}

.contact-form-input-container {
    position: relative;

    input {
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        border: none;
        border-bottom: 1px solid #fff;
        outline: none;
        background: transparent;
    }

    input:-webkit-autofill,
    textarea:-webkit-autofill {
        box-shadow: 0 0 0 30px #2c3639 inset !important;
        -webkit-text-fill-color: #fff !important;
        caret-color: #fff;
    }

    &::after,
    &::before {
        content: '';
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.2s ease;
    }

    &::after {
        background-color: red;
    }

    &::before {
        background-color: #a27b5c;
    }

    label {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        transition: 0.3s;
    }

    &__error-message {
        position: absolute;
        color: red;
        font-size: 12px;
        display: none;
        left: 0;
        bottom: 0;
        transform: translateY(100%);
    }

    &--focused label,
    &--valid label,
    &--invalid label {
        top: -1.2rem;
        left: 0;
        font-size: 14px;
    }

    &--focused {
        label {
            color: #a27b5c;
        }
        &::before {
            transform: scaleX(1);
        }
    }

    &--invalid {
        label,
        input {
            color: red;
        }
        .contact-form-input-container__error-message {
            display: block;
        }
        &::after {
            transform: scaleX(1);
        }
    }
}

.contact-form-textarea-container {
    margin-top: 10px;
    position: relative;
    display: flex;
    flex-direction: column;

    label {
        position: absolute;
        top: 0;
        left: 10px;
        padding: 8px 10px;
        font-size: 16px;
        color: #fff;
        transition: 0.3s;
    }

    textarea {
        background-color: rgb(33, 41, 43);
        border-radius: 5px;
        min-height: 132px;
        outline: 0;
        color: #fff;
        padding: 10px 6px;
        font-size: 16px;
        resize: none;
        transition: all 0.2s ease;
    }

    &__error-message {
        position: absolute;
        color: red;
        font-size: 12px;
        display: none;
        left: 0;
        bottom: 0;
        transform: translateY(100%);
    }

    &.contact-form-input-container {
        &--focused label,
        &--valid label,
        &--invalid label {
            top: -0.9rem;
            left: 14px;
            font-size: 14px;
            background: rgb(242, 243, 242);
            background: linear-gradient(0deg, rgba(33, 41, 43, 1) 0%, rgba(33, 41, 43, 1) 50%, rgba(33, 41, 43, 0) 55%);
        }

        &--focused {
            label {
                color: #a27b5c;
            }

            textarea {
                border-color: #a27b5c;
            }
        }

        &--invalid {
            label {
                color: red;
            }
            textarea {
                border-color: red;
            }

            .contact-form-textarea-container__error-message {
                display: block;
            }
        }

        &::after {
            transform: scaleX(1);
        }
    }
}

.contact-form-submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__button {
        @include button-border(2px, 25px);
        padding: 10px 20px;
        font-weight: 700;
        border-radius: 15px;
    }

    &__loader {
        display: none;
        position: relative;
        width: 50px;
        height: 50px;
        margin: 30px auto;
        border-radius: 50px;
        border: 3px solid transparent;
        border-top-color: #869827;
        animation: spin-loader 1s linear infinite;

        &::before {
            content: '';
            position: absolute;
            top: 3px;
            left: 3px;
            bottom: 3px;
            right: 3px;
            border-radius: 50px;
            border: 3px solid transparent;
            border-top-color: #869827;
            animation: spin-loader 1s linear infinite;
        }

        &::after {
            content: '';
            position: absolute;
            top: 9px;
            left: 9px;
            bottom: 9px;
            right: 9px;
            border-radius: 50px;
            border: 3px solid transparent;
            border-top-color: #869827;
            animation: spin-loader 2s linear infinite;
        }
    }

    &--submitting {
        .contact-form-submit__button {
            display: none;
        }

        .contact-form-submit__loader {
            display: inline-block;
        }
    }

    &__message--error,
    &__message--success {
        margin: 10px 0 20px 0;
        display: none;
        text-align: center;
    }

    &--error {
        .contact-form-submit__message--error {
            display: block;
            color: red;
        }
    }

    &--success {
        .contact-form-submit__message--success {
            display: block;
            color: #888;
        }
    }
}

@media screen and (max-width: 1200px) {
    .contact-informations {
        padding: 0 30px;
    }
}

@media screen and (max-width: 1024px) {
    .contact {
        z-index: 99;
        box-shadow: 1px -2px 16px 9px #111;
        background-color: #111;

        &__title {
            position: relative;
            width: 100%;
            font-size: 5vw;
            transform: translateX(0);
        }

        &__left {
            position: relative;
            width: 100%;
            min-height: auto;
            padding: 0 50px;
            justify-content: center;
            border-top: 1px solid #999;
            border-bottom: 1px solid #999;
            border-right: none;
            transform: translateX(0);
        }

        &__right {
            position: relative;
            width: 100%;
            transform: translateX(0);
        }
    }

    .contact-informations {
        &__name {
            display: none;
        }

        &__job {
            display: none;
        }

        &__sentence {
            text-align: center;
        }

        &__list {
            margin-bottom: 40px;
            flex-direction: row;
            justify-content: space-between;
        }

        &__item a {
            padding: 10px;

            span {
                display: none;
            }
        }
    }

    .contact-form-container {
        margin-top: 50px;
    }
}

@media screen and (max-width: 768px) {
    .contact {
        &__title {
            font-size: 6vw;
        }
    }
}

@media screen and (max-width: 640px) {
    .contact {
        &__title {
            font-size: 10vw;
        }
    }
}

@media screen and (max-width: 400px) {
    .contact-informations__list {
        gap: 20px;
    }
}
