.footer {
    position: relative;
    padding: 30px 100px;
    background-color: #eee;
    z-index: 100;

    p {
        margin-top: 1rem;

        &:first-child {
            margin-top: none;
        }
    }
}

@media screen and (max-width: 1024px) {
    .footer {
        padding: 50px 30px;

        height: auto;
    }
}
