// Insipred by: https://codepen.io/gearmobile/pen/RWPEyZ
.footer {
    padding: 50px 0;
    background-color: #eee;

    p {
        margin-top: 0.5rem;
        text-align: center;

        strong {
            font-weight: bold;
        }

        &:last-child {
            font-weight: bold;
            margin-top: 1rem;
            font-size: 16px;
            color: $primary-color;
        }
    }
}

@media screen and (max-width: 1024px) {
    .footer {
        position: relative;
        z-index: 999;
        background-color: #eee;
        p {
            font-size: 16px;
        }
    }
}
