*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    font-size: 20px;
}

h1,
h2,
h3 {
    font-family: 'Kanit', sans-serif;
}

h1,
h2,
h3,
p {
    cursor: default;
}

.no-wrap {
    font-size: inherit;
    font-weight: inherit;
    white-space: nowrap;
    font-family: inherit;
}

body {
    background-color: #111;
}

.main {
    overflow: hidden;
}

@media screen and (max-width: 640px) {
    * {
        font-size: 18px;
    }
}
