// inspired by: https://codepen.io/soufiane-khalfaoui-hassani/pen/LYpPWda

.contact {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    background-color: #2c3639;

    &__title {
        margin-top: 50px;
        font-size: 4vw;
        color: #fff;
        text-align: center;
    }
}

.contact-form {
    width: 100%;
    max-width: 550px;
    position: relative;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-radius: 10px;

    transition: 0.5s;
    margin-top: 40px;
}

.contact-form-input-container {
    position: relative;

    input {
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        border: none;
        border-bottom: 1px solid #fff;
        outline: none;
        background: transparent;
    }

    input:-webkit-autofill,
    textarea:-webkit-autofill {
        box-shadow: 0 0 0 30px #2c3639 inset !important;
        -webkit-text-fill-color: #fff !important;
        caret-color: #fff;
    }

    &::after,
    &::before {
        content: '';
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.2s ease;
    }

    &::after {
        background-color: red;
    }

    &::before {
        background-color: #a27b5c;
    }

    label {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        transition: 0.3s;
    }

    &__error-message {
        position: absolute;
        color: red;
        font-size: 12px;
        display: none;
        left: 0;
        bottom: 0;
        transform: translateY(100%);
    }

    &--focused label,
    &--valid label,
    &--invalid label {
        top: -1.2rem;
        left: 0;
        font-size: 14px;
    }

    &--focused {
        label {
            color: #a27b5c;
        }
        &::before {
            transform: scaleX(1);
        }
    }

    &--invalid {
        label,
        input {
            color: red;
        }
        .contact-form-input-container__error-message {
            display: block;
        }
        &::after {
            transform: scaleX(1);
        }
    }
}

.contact-form-textarea-container {
    margin-top: 10px;
    position: relative;
    display: flex;
    flex-direction: column;

    label {
        position: absolute;
        top: 0;
        left: 10px;
        padding: 8px 10px;
        font-size: 16px;
        color: #fff;
        transition: 0.3s;
    }

    textarea {
        background-color: rgb(33, 41, 43);
        border-radius: 5px;
        min-height: 132px;
        outline: 0;
        color: #fff;
        padding: 10px 6px;
        font-size: 16px;
        resize: none;
        transition: all 0.2s ease;
    }

    &__error-message {
        position: absolute;
        color: red;
        font-size: 12px;
        display: none;
        left: 0;
        bottom: 0;
        transform: translateY(100%);
    }

    &.contact-form-input-container {
        &--focused label,
        &--valid label,
        &--invalid label {
            top: -0.9rem;
            left: 14px;
            font-size: 14px;
            background: rgb(242, 243, 242);
            background: linear-gradient(0deg, rgba(33, 41, 43, 1) 0%, rgba(33, 41, 43, 1) 50%, rgba(33, 41, 43, 0) 55%);
        }

        &--focused {
            label {
                color: #a27b5c;
            }

            textarea {
                border-color: #a27b5c;
            }
        }

        &--invalid {
            label {
                color: red;
            }
            textarea {
                border-color: red;
            }

            .contact-form-textarea-container__error-message {
                display: block;
            }
        }

        &::after {
            transform: scaleX(1);
        }
    }
}

.contact-form-submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__button {
        display: block;
        width: 75%;
        height: 50px;
        margin: 20px auto;
        font-size: 1rem;
        background: hsl(120, 4%, 94%);
        font-weight: 400;
        color: rgba(0, 0, 0, 0.681);
        border: 0;
        border-radius: 8px;
        box-shadow: -5px -5px 20px #fff, 5px 5px 20px #333;
        transition: all 0.2s ease-in-out;
        cursor: pointer;

        &:hover,
        &:focus {
            box-shadow: -2px -2px 5px #fff, 2px 2px 5px #333;
        }

        &:active {
            box-shadow: inset 1px 1px 2px #333, inset -1px -1px 2px #fff;
        }
    }

    &__loader {
        display: none;
        position: relative;
        width: 50px;
        height: 50px;
        margin: 30px auto;
        border-radius: 50px;
        border: 3px solid transparent;
        border-top-color: #a27b5c;
        animation: spin-loader 1s linear infinite;

        &::before {
            content: '';
            position: absolute;
            top: 3px;
            left: 3px;
            bottom: 3px;
            right: 3px;
            border-radius: 50px;
            border: 3px solid transparent;
            border-top-color: #a27b5c;
            animation: spin-loader 1s linear infinite;
        }

        &::after {
            content: '';
            position: absolute;
            top: 9px;
            left: 9px;
            bottom: 9px;
            right: 9px;
            border-radius: 50px;
            border: 3px solid transparent;
            border-top-color: #a27b5c;
            animation: spin-loader 2s linear infinite;
        }
    }

    &--submitting {
        .contact-form-submit__button {
            display: none;
        }

        .contact-form-submit_loader {
            display: inline-block;
        }
    }

    &__message--error,
    &__message--success {
        margin: 10px 0 20px 0;
        display: none;
        text-align: center;
    }

    &--error {
        .contact-form-submit__message--error {
            display: block;
            color: red;
        }
    }

    &--success {
        .contact-form-submit__message--success {
            display: block;
        }
    }
}

@media screen and (max-width: 1024px) {
    .contact {
    
        &__title {
            font-size: 5vw;
        }
    }
}

@media screen and (max-width: 768px) {
    .contact {
    
        &__title {
            font-size: 6vw;
        }
    }
}

@media screen and (max-width: 640px) {
    .contact {
    
        &__title {
            font-size: 10vw;
        }
    }
}