*,
*::after,
*::before {
    box-sizing: border-box;
}

body {

    background-color: #111;
    
    &.fixed {
        height: 100vw;
        overflow: hidden;
    }
}

html {
    scroll-behavior: smooth;
}

.main {
    overflow: hidden;
}
