body, html {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

h1,
h2,
h3 {
    font-family: 'Kanit', sans-serif;
	font-weight: bold;
}

h1,
h2,
h3,
p {
    cursor: default;
}

@media screen and (max-width: 640px) {
    * {
        font-size: 18px;
    }
}